<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Introducción a VueJS</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <h1 id="autor">Autor: SMARLIN JIMÉNEZ GÓMEZ</h1>
            
        <!-- https://vuejs.org/v2/guide/index.html -->
        <div id="app">
            <div class="container">
                <div class="jumbotron">
                    <h1 id="title" class="h1">{{ col.collection.title }}</h1>
                </div>
            </div>
            <div class="card-group"style="margin-left:100px;margin-right: 100px">
                <div class="card" v-for="obj in col.collection.items">
                    <div class="card-body">
                        <dl>
                            <div v-for="pelis in obj.data">
                                <dt>
                                    <h4 class="card-title">{{pelis.prompt}}</h4>
                                </dt>
                                <dd>
                                    <p class="card-text">{{pelis.value}}</p>
                                </dd>
                            </div>
                        </dl>
                        <a v-bind:href="obj.href" class="btn btn-dark text-light">Ver</a>
                    </div>
                </div>
            <!--
                 TODO: Mostrar datos del objeto collection. Ver archivo ./js/script.js
               - Cargar la librería de VueJS y el script ./js/script.js al final de la etiqueta <body>
               - Cargar el CSS de Bootstrap (no es necesario el JS)
               - Mostrar el título de la colección dentro de un componente Jumbotron de Bootstrap https://getbootstrap.com/docs/4.0/components/jumbotron/. En su interior habrá un <h1> con id "title" que mostrará el título de la colección
               - Para cada item: (https://vuejs.org/v2/guide/index.html#Conditionals-and-Loops)
                 - Crear un componente card de Bootstrap (https://getbootstrap.com/docs/4.0/components/card/)
                 - Mostrar un enlace de tipo botón a la propiedad "href" del item con el texto "Ver"
                 - Mostrar cada uno de los elementos del vector "data" en una lista de definición <dl>. Para cada elemento del vector "data":
                   - El término <dt> será la propiedad "prompt"
                   - La definición <dd> será la propiedad "value"
            -->

        </div>

    </body>
    
    <script type="text/javascript" src="./js/script.js"></script>
</html>
